<%= link_to "Home", "/" %>

<h1><%= @employee.first_name %></h1>
<h1><%= @employee.last_name %></h1>
<h2><%= @employee.email %></h2>
<h2><%= @employee.birthday.strftime('%b %d, %Y') %></h2>

<%= link_to "edit", "/employees/#{@employee.id}/edit" %>
<%= link_to "delete", "/employees/#{@employee.id}", method: :delete %>